
USE [RentACar]
GO
/****** Object:  Table [dbo].[Automobil]    Script Date: 09-Mar-26 10:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Automobil](
	[AutomobilID] [int] IDENTITY(1,1) NOT NULL,
	[RegistarskiBroj] [varchar](50) NOT NULL,
	[Marka] [varchar](20) NOT NULL,
	[Model] [varchar](50) NOT NULL,
	[Godiste] [int] NOT NULL,
	[KlasaID] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Automobil] PRIMARY KEY CLUSTERED 
(
	[AutomobilID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FizickoLice]    Script Date: 09-Mar-26 10:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FizickoLice](
	[KorisnikID] [int] NOT NULL,
	[JMBG] [varchar](13) NOT NULL,
	[Ime] [varchar](50) NOT NULL,
	[Prezime] [varchar](50) NOT NULL,
 CONSTRAINT [PK_FizickoLice] PRIMARY KEY CLUSTERED 
(
	[KorisnikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Iznajmljivanje]    Script Date: 09-Mar-26 10:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Iznajmljivanje](
	[IznajmljivanjeID] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[ukupnaCena] [decimal](12, 2) NOT NULL,
	[KorisnikID] [int] NOT NULL,
	[RadnikID] [int] NOT NULL,
 CONSTRAINT [PK_Iznajmljivanje] PRIMARY KEY CLUSTERED 
(
	[IznajmljivanjeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KlasaVozila]    Script Date: 09-Mar-26 10:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KlasaVozila](
	[KlasaID] [int] NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
	[OsnovnaCenaPoDanu] [int] NOT NULL,
 CONSTRAINT [PK_KlasaVozila] PRIMARY KEY CLUSTERED 
(
	[KlasaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 09-Mar-26 10:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[KorisnikID] [int] IDENTITY(1,1) NOT NULL,
	[Adresa] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[MestoID] [int] NOT NULL,
 CONSTRAINT [PK_Korisnik] PRIMARY KEY CLUSTERED 
(
	[KorisnikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesto]    Script Date: 09-Mar-26 10:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesto](
	[MestoID] [int] NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Mesto] PRIMARY KEY CLUSTERED 
(
	[MestoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PravnoLice]    Script Date: 09-Mar-26 10:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PravnoLice](
	[KorisnikID] [int] NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
	[PIB] [varchar](9) NOT NULL,
 CONSTRAINT [PK_PravnoLice] PRIMARY KEY CLUSTERED 
(
	[KorisnikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Radnik]    Script Date: 09-Mar-26 10:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Radnik](
	[RadnikID] [int] NOT NULL,
	[Ime] [varchar](50) NOT NULL,
	[Prezime] [varchar](50) NOT NULL,
	[KorisnickoIme] [varchar](50) NOT NULL,
	[Sifra] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Radnik] PRIMARY KEY CLUSTERED 
(
	[RadnikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaIznajmljivanja]    Script Date: 09-Mar-26 10:28:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaIznajmljivanja](
	[IznajmljivanjeID] [int] NOT NULL,
	[RBr] [int] NOT NULL,
	[DatumOd] [date] NOT NULL,
	[DatumDo] [date] NOT NULL,
	[PocetnaKm] [int] NOT NULL,
	[ZavrsnaKm] [int] NOT NULL,
	[UgovorenaCenaPoDanu] [decimal](10, 2) NOT NULL,
	[Popust] [int] NOT NULL,
	[AutomobilID] [int] NOT NULL,
 CONSTRAINT [PK_StavkaIzdavanja] PRIMARY KEY CLUSTERED 
(
	[IznajmljivanjeID] ASC,
	[RBr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Automobil] ON 

INSERT [dbo].[Automobil] ([AutomobilID], [RegistarskiBroj], [Marka], [Model], [Godiste], [KlasaID], [status]) VALUES (1, N'bg1111rs', N'porshe', N'911', 2022, 1, N'dostupan')
INSERT [dbo].[Automobil] ([AutomobilID], [RegistarskiBroj], [Marka], [Model], [Godiste], [KlasaID], [status]) VALUES (2, N'bg2222rs', N'peugeot', N'3008', 2020, 2, N'dostupan')
INSERT [dbo].[Automobil] ([AutomobilID], [RegistarskiBroj], [Marka], [Model], [Godiste], [KlasaID], [status]) VALUES (3, N'bg333rs', N'mazda', N'6', 2024, 3, N'dostupan')
SET IDENTITY_INSERT [dbo].[Automobil] OFF
INSERT [dbo].[FizickoLice] ([KorisnikID], [JMBG], [Ime], [Prezime]) VALUES (1, N'1231231231235', N'Nikola', N'Novkovic')
INSERT [dbo].[FizickoLice] ([KorisnikID], [JMBG], [Ime], [Prezime]) VALUES (3, N'1231231231234', N'Stevan', N'Andjel')
INSERT [dbo].[FizickoLice] ([KorisnikID], [JMBG], [Ime], [Prezime]) VALUES (4, N'1231231231236', N'Jovan', N'Vukoje')
INSERT [dbo].[KlasaVozila] ([KlasaID], [Naziv], [OsnovnaCenaPoDanu]) VALUES (1, N'Lux', 500)
INSERT [dbo].[KlasaVozila] ([KlasaID], [Naziv], [OsnovnaCenaPoDanu]) VALUES (2, N'Suv', 300)
INSERT [dbo].[KlasaVozila] ([KlasaID], [Naziv], [OsnovnaCenaPoDanu]) VALUES (3, N'Limuzina', 180)
SET IDENTITY_INSERT [dbo].[Korisnik] ON 

INSERT [dbo].[Korisnik] ([KorisnikID], [Adresa], [email], [MestoID]) VALUES (1, N'presernova', N'mica@gmail', 5)
INSERT [dbo].[Korisnik] ([KorisnikID], [Adresa], [email], [MestoID]) VALUES (2, N'glavasova', N'maka@gmail', 5)
INSERT [dbo].[Korisnik] ([KorisnikID], [Adresa], [email], [MestoID]) VALUES (3, N'prvomajska', N'steka@gmail', 6)
SET IDENTITY_INSERT [dbo].[Korisnik] OFF
INSERT [dbo].[Mesto] ([MestoID], [Naziv]) VALUES (1, N'Novi Sad')
INSERT [dbo].[Mesto] ([MestoID], [Naziv]) VALUES (2, N'Beograd')
INSERT [dbo].[Mesto] ([MestoID], [Naziv]) VALUES (3, N'Subotica')
INSERT [dbo].[PravnoLice] ([KorisnikID], [Naziv], [PIB]) VALUES (1, N'PrevaraClickbite', N'000000000')
INSERT [dbo].[PravnoLice] ([KorisnikID], [Naziv], [PIB]) VALUES (2, N'TobacoBunusa', N'111111111')
INSERT [dbo].[PravnoLice] ([KorisnikID], [Naziv], [PIB]) VALUES (6, N'Joana', N'222222222')
INSERT [dbo].[Radnik] ([RadnikID], [Ime], [Prezime], [KorisnickoIme], [Sifra]) VALUES (1, N'Uros', N'Uros', N'uca', N'12345678')
INSERT [dbo].[Radnik] ([RadnikID], [Ime], [Prezime], [KorisnickoIme], [Sifra]) VALUES (2, N'Joka', N'Joka', N'joka', N'12345678')
INSERT [dbo].[Radnik] ([RadnikID], [Ime], [Prezime], [KorisnickoIme], [Sifra]) VALUES (3, N'Dragi', N'Dragi', N'dragi', N'12345678')
SET ANSI_PADDING ON
GO
/****** Object:  Index [unq_AUTO_RegBr]    Script Date: 09-Mar-26 10:28:53 ******/
ALTER TABLE [dbo].[Automobil] ADD  CONSTRAINT [unq_AUTO_RegBr] UNIQUE NONCLUSTERED 
(
	[RegistarskiBroj] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Uniq_FL_JMBG]    Script Date: 09-Mar-26 10:28:53 ******/
ALTER TABLE [dbo].[FizickoLice] ADD  CONSTRAINT [Uniq_FL_JMBG] UNIQUE NONCLUSTERED 
(
	[JMBG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNQ_PL_PIB]    Script Date: 09-Mar-26 10:28:53 ******/
ALTER TABLE [dbo].[PravnoLice] ADD  CONSTRAINT [UNQ_PL_PIB] UNIQUE NONCLUSTERED 
(
	[PIB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Automobil]  WITH CHECK ADD  CONSTRAINT [FK_Automobil_KlasaVozila] FOREIGN KEY([KlasaID])
REFERENCES [dbo].[KlasaVozila] ([KlasaID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Automobil] CHECK CONSTRAINT [FK_Automobil_KlasaVozila]
GO
ALTER TABLE [dbo].[FizickoLice]  WITH CHECK ADD  CONSTRAINT [FK_FizickoLice_Korisnik] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnik] ([KorisnikID])
GO
ALTER TABLE [dbo].[FizickoLice] CHECK CONSTRAINT [FK_FizickoLice_Korisnik]
GO
ALTER TABLE [dbo].[Iznajmljivanje]  WITH CHECK ADD  CONSTRAINT [FK_Iznajmljivanje_Korisnik] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnik] ([KorisnikID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Iznajmljivanje] CHECK CONSTRAINT [FK_Iznajmljivanje_Korisnik]
GO
ALTER TABLE [dbo].[Iznajmljivanje]  WITH CHECK ADD  CONSTRAINT [FK_Iznajmljivanje_Radnik] FOREIGN KEY([RadnikID])
REFERENCES [dbo].[Radnik] ([RadnikID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Iznajmljivanje] CHECK CONSTRAINT [FK_Iznajmljivanje_Radnik]
GO
ALTER TABLE [dbo].[Korisnik]  WITH CHECK ADD  CONSTRAINT [FK_Korisnik_Mesto] FOREIGN KEY([MestoID])
REFERENCES [dbo].[Mesto] ([MestoID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Korisnik] CHECK CONSTRAINT [FK_Korisnik_Mesto]
GO
ALTER TABLE [dbo].[PravnoLice]  WITH CHECK ADD  CONSTRAINT [FK_PravnoLice_Korisnik] FOREIGN KEY([KorisnikID])
REFERENCES [dbo].[Korisnik] ([KorisnikID])
GO
ALTER TABLE [dbo].[PravnoLice] CHECK CONSTRAINT [FK_PravnoLice_Korisnik]
GO
ALTER TABLE [dbo].[StavkaIznajmljivanja]  WITH CHECK ADD  CONSTRAINT [FK_StavkaIznajmljivanja_Automobil] FOREIGN KEY([AutomobilID])
REFERENCES [dbo].[Automobil] ([AutomobilID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[StavkaIznajmljivanja] CHECK CONSTRAINT [FK_StavkaIznajmljivanja_Automobil]
GO
ALTER TABLE [dbo].[StavkaIznajmljivanja]  WITH CHECK ADD  CONSTRAINT [FK_StavkaIznajmljivanja_Iznajmljivanje] FOREIGN KEY([IznajmljivanjeID])
REFERENCES [dbo].[Iznajmljivanje] ([IznajmljivanjeID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StavkaIznajmljivanja] CHECK CONSTRAINT [FK_StavkaIznajmljivanja_Iznajmljivanje]
GO
ALTER TABLE [dbo].[Automobil]  WITH CHECK ADD  CONSTRAINT [ck_Auto_Statuus] CHECK  (([status]='rashodovan' OR [status]='nedostupan' OR [status]='dostupan'))
GO
ALTER TABLE [dbo].[Automobil] CHECK CONSTRAINT [ck_Auto_Statuus]
GO
ALTER TABLE [dbo].[Automobil]  WITH CHECK ADD  CONSTRAINT [ck_godiste] CHECK  (([godiste]>(1900)))
GO
ALTER TABLE [dbo].[Automobil] CHECK CONSTRAINT [ck_godiste]
GO
ALTER TABLE [dbo].[FizickoLice]  WITH CHECK ADD  CONSTRAINT [CK_FL_JMBG] CHECK  ((len([JMBG])=(13)))
GO
ALTER TABLE [dbo].[FizickoLice] CHECK CONSTRAINT [CK_FL_JMBG]
GO
ALTER TABLE [dbo].[Iznajmljivanje]  WITH CHECK ADD  CONSTRAINT [ck_status] CHECK  (([status]='stornirano' OR [status]='zavrseno' OR [status]='aktivano'))
GO
ALTER TABLE [dbo].[Iznajmljivanje] CHECK CONSTRAINT [ck_status]
GO
ALTER TABLE [dbo].[Iznajmljivanje]  WITH CHECK ADD  CONSTRAINT [ck_UkupnaCena] CHECK  (([ukupnaCena]>=(0)))
GO
ALTER TABLE [dbo].[Iznajmljivanje] CHECK CONSTRAINT [ck_UkupnaCena]
GO
ALTER TABLE [dbo].[KlasaVozila]  WITH CHECK ADD  CONSTRAINT [ck_Klasa_Cena] CHECK  (([OsnovnaCenaPoDanu]>(0)))
GO
ALTER TABLE [dbo].[KlasaVozila] CHECK CONSTRAINT [ck_Klasa_Cena]
GO
ALTER TABLE [dbo].[PravnoLice]  WITH CHECK ADD  CONSTRAINT [CK_PL_PIB] CHECK  ((len([PIB])=(9)))
GO
ALTER TABLE [dbo].[PravnoLice] CHECK CONSTRAINT [CK_PL_PIB]
GO
ALTER TABLE [dbo].[Radnik]  WITH CHECK ADD  CONSTRAINT [CK_Radnik_Sifra] CHECK  ((len([Sifra])>=(8)))
GO
ALTER TABLE [dbo].[Radnik] CHECK CONSTRAINT [CK_Radnik_Sifra]
GO
ALTER TABLE [dbo].[StavkaIznajmljivanja]  WITH CHECK ADD  CONSTRAINT [ck_CenaPoDanu] CHECK  (([UgovorenaCenaPoDanu]>=(0)))
GO
ALTER TABLE [dbo].[StavkaIznajmljivanja] CHECK CONSTRAINT [ck_CenaPoDanu]
GO
ALTER TABLE [dbo].[StavkaIznajmljivanja]  WITH CHECK ADD  CONSTRAINT [ck_DatumOdDo] CHECK  (([DatumOd]<[DatumDo]))
GO
ALTER TABLE [dbo].[StavkaIznajmljivanja] CHECK CONSTRAINT [ck_DatumOdDo]
GO
ALTER TABLE [dbo].[StavkaIznajmljivanja]  WITH CHECK ADD  CONSTRAINT [ck_PocetnaKM] CHECK  (([PocetnaKm]>=(0)))
GO
ALTER TABLE [dbo].[StavkaIznajmljivanja] CHECK CONSTRAINT [ck_PocetnaKM]
GO
ALTER TABLE [dbo].[StavkaIznajmljivanja]  WITH CHECK ADD  CONSTRAINT [ck_popust] CHECK  (([popust]>=(0)))
GO
ALTER TABLE [dbo].[StavkaIznajmljivanja] CHECK CONSTRAINT [ck_popust]
GO
ALTER TABLE [dbo].[StavkaIznajmljivanja]  WITH CHECK ADD  CONSTRAINT [ck_ZavrsnaKm] CHECK  (([ZavrsnaKm]>[PocetnaKm]))
GO
ALTER TABLE [dbo].[StavkaIznajmljivanja] CHECK CONSTRAINT [ck_ZavrsnaKm]
GO
USE [master]
GO
